.footer-section {
  background-color: var(--head-foot-bgcolor);
  padding: 60px 0;
}
.basement {
  display: flex;
  align-items: baseline;
}
.logo-address {
  display: flex;
  flex-direction: column;
}
.address-text {
  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.list-ident {
  margin-top: 9px;
}
.ident + .ident {
  margin-top: 9px;
}
.address-text.ident {
  margin-top: 20px;
}
.foot-link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.email-box::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
