.team-list {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.profile .profile__name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profile .profile__profession {
  font-size: 16px;
  line-height: 1.19;
}
.profile .profile__profile-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.profile {
  display: flex;
  margin-top: 50px;
}

.profile__team-item {
  background-color: #ffffff;

  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  & + & {
    margin-left: 30px;
  }
}
.profile__profession {
  margin-top: 10px;
}
